
<form [formGroup]="form">

    <div>

        <mat-card class="container">
            <div style="width: 80%">
               
                <mat-card>
                    <mat-card-content>
                        <img *ngIf="form.get('header-Image')?.value" 
                        src="http://localhost:3000/api/blog-entries/image{{form.get('headerImage')?.value}}" alt="">
                    <ul>
                        <li>
                            <mat-progress-bar [value]="file.progress">

                            </mat-progress-bar>
                        </li>
                    </ul>
                    <mat-card-actions>
                        <button mat-button color="warn" (click)="onClick()">
                            <mat-icon>cloud_upload</mat-icon>
                            <small>upload Image</small>
                        </button>
                    </mat-card-actions>
                    </mat-card-content>
                </mat-card>
                <input type="file" name="fileUpload" id="fileUpload" #fileUpload accept="image/*"
                style="display: none;"> 
            </div>

            <div class="container" style="width: 80%">
                <mat-form-field>
                    <input matInput placeholder="Id" formControlName="id">
                </mat-form-field>

                <mat-form-field>
                    <input matInput placeholder="Title" formControlName="title">
                </mat-form-field>

                <mat-form-field>
                    <input matInput placeholder="Description" formControlName="description">
                </mat-form-field>

                <div style="display: flex; width: 100%;">
                    <mat-form-field style="width:45%;">
                        <textarea matInput 
                                 name="body" 
                                 id="body" 
                                 cols="30" 
                                 rows="15"
                                 placeholder="Enter Markdown..." 
                                 class="variable-textarea">
                        </textarea>

                    </mat-form-field>
                    <markdown [data]="form.get('body')?.value"
                    style="border-style:dotted; width: 45%; margin-left: 10%;"></markdown>
                </div>
                



            </div>

            <button mat-flat-button color="primary" 
              [disabled]="form.invalid" 
              type="submit"
              (click)="post()"> Create Blog</button>

    
        </mat-card>
        </div>

</form>